.project-description {
	font-size: 18px;
	color: grey;
}

.inline {
	display: inline-block;
}

.project-end {
    width: 25%;
    border: 0;
    border-top: 1px solid lightgray;
    margin: 2.5em auto 2.3em;
}

.project-title:hover {
	color: grey;
	cursor: pointer;
}
