.work {
    background-color:rgba(205, 205, 205, 0.24);
    width: 100%;
    min-height: 100%;
}

.card-columns {
    @media screen and (min-width: 576px) {
        column-count: 3;
    }

    @media screen and (min-width: 1200px) {
        padding: 100px;
    }
}
