.intro {
    background-image: -webkit-linear-gradient(0deg, #272626 50%, #f8f9fa 50%);
    height: 90vh;
    width: 100%;
}

.intro-name,
.intro-right {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.intro-name:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 20px;
    border-bottom: 4px solid #a5b0da;
}

@media (max-width: 480px) {
    .intro-left {
        font-size: 30px;
    }

    .intro-right {
        font-size: 20px;
    }
}

@media (min-device-width: 1025px) {
    .intro-left,
    .intro-right {
        font-size: 34px;
    }
}
