@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$app-font: 'Nunito', sans-serif;
$font-size: 22px;

html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
}

* {
    font-family: $app-font;
}

p {
    font-size: $font-size;
}

a {
    font-size: $font-size;
}

hr {
    width: 12%;
    border: 0;
    border-top: 4px solid #a5b0da;
    margin: 2.5em auto 2.3em;
}
