.inline {
	display: inline-block;
}

.about-me {
    background-color: #272626;
    width: 100%;
    height: 500px;
    color: whitesmoke;
}

.about-text {
    @media screen and (min-width: 1200px) {
        padding: 55px;
        width: 50%;
    }
}
