.inline {
	display: inline-block;
}

.light-dark {
    color: whitesmoke;
    background-color: #272626;
}

.dark {
    background-color: #131212;
    color: whitesmoke;
}

.footer-text {
    font-size: 18px;
}

.contact-icon {
    margin: 20px;
}
