.light-dark {
    color: whitesmoke;
    background-color: #272626;
}

.dark {
    background-color: #131212;
    color: whitesmoke;
}

.footer-text {
    font-size: 18px;
}

.pb-5,
.py-5 {
    padding-bottom: 3.2rem !important;
}
